<nav class="navbar navbar-expand-lg navbar navbar-light" style="background-color: #1fc8de;;">
    <a class="navbar-brand" routerLink="/"><i class="fa fa-heartbeat" style="font-size:24px;color:red" ></i>Mindtree Hospital</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" routerLink="/">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" routerLink="doctors/doctor/add">Create New Doctor</a>
        <a class="nav-item nav-link" routerLink="doctor/view">Search For Doctor</a>
        <a class="nav-item nav-link" routerLink="patients/patient/add">Admit New Patient</a>
        <a class="nav-item nav-link" routerLink="patient/view">Search For Patient</a>
      </div>
    </div>
  </nav>